<div class="auth-container">
  <div class="auth-box">
    <h1>Créer un événement</h1>
    <p class="subtitle">
      Partagez vos idées et organisez vos moments culinaires avec la communauté !
    </p>

    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="auth-form">
      <input type="text" placeholder="Titre" formControlName="titre" required />
      <textarea placeholder="Description" formControlName="description" required></textarea>
      <input type="date" formControlName="date" required />
      <input type="text" placeholder="Lieu" formControlName="lieu" required />
      <button type="submit" [disabled]="eventForm.invalid">Créer l'événement</button>
    </form>
  </div>
</div>
