<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a routerLink="/" class="site-name highlight">Club de cuisine</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home" class="btn nav-btn">Accueil</a></li>
      <li><a routerLink="/events" class="btn nav-btn">Événements</a></li>
      <li><a routerLink="/recettes" class="btn nav-btn">Recettes</a></li>
      <li><a routerLink="/forum" class="btn nav-btn">Forum</a></li>
      <li><a routerLink="/about" class="btn nav-btn">À propos</a></li>
      <li><a routerLink="/contact" class="btn nav-btn">Contact</a></li>
      
    </ul>
    <div class="auth-links">
      <a routerLink="/conn" class="btn login">Connexion</a>
      <a routerLink="/auth" class="btn register">Inscription</a>
