<div class="flex justify-center">
  <div class="max-w-7xl w-full p-6">

      <!-- Barre de recherche -->
      <div class="mb-6">
        <input type="text" placeholder="Recherche..." class="w-full border p-2 rounded">
      </div>
  
      
      <!-- Section recettes -->
      <div class="flex flex-wrap justify-center gap-6 mb-10">
        <a
          *ngFor="let recette of recettes"
          [routerLink]="['/recette', recette.idRec]"
          class="recipe-card"
        >
          <img
            [src]="'http://localhost:8080/images/' + recette.photo"
            alt="{{ recette.nom }}"
          />
          <h3 class="text-lg font-bold mb-1">{{ recette?.nom }}</h3>
          <p class="text-sm text-gray-600">
            Par : {{ recette?.auteur?.prenom }} {{ recette?.auteur?.nom }}
          </p>
        </a>
      </div>


    
  
    </div>
  </div>
  