<div class="auth-background"> 
  <div class="auth-box">
    <h2>Sign Up for Free</h2>
    <p>Suivez vos progrès et sublimez vos talents. Rejoignez des milliers de passionnés de cuisine !</p>

    <!-- Formulaire d'inscription -->
    <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
      <input name="nom" ngModel type="text" required placeholder="Nom" />
      <input name="prenom" ngModel type="text" required placeholder="Prénom" />
      <input name="email" ngModel type="email" required placeholder="Email" />
      <input name="password" ngModel type="password" required placeholder="Mot de passe" />
      <button type="submit">Sign Up</button>    
    </form>

    <p class="footer-text">
      En continuant, vous acceptez nos <a href="#">Conditions d'utilisation</a> et notre <a href="#">Politique de confidentialité</a>.
    </p>
    <p class="footer-text">
      Déjà membre ? <a routerLink="/conn" class="hero-button">Se connecter</a>
    </p>
  </div>
</div>
